extends layout

block content
    h1= title
    div
        form(method="POST" action="")
            div
                label(for="user_name") Username
                input(type="text" name="user_name")
            div
                label(for="message") Message
                textarea(name="message" rows="4" cols="50")
            div
                input(type="submit" value="Submit")
            
